body {
    margin: 0;
    padding: 0;
}

header {
    /* background: #303a52; */
    position: relative;
    overflow: hidden;
    background: rgb(252,81,133);
    background: linear-gradient(135deg, rgba(252,81,133,1) 0%, rgba(48,58,82,1) 52%, rgba(252,81,133,1) 100%);
}

.video-container__video {
    width:100vw;
    filter: opacity(.3);
}

.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
    width: 80%;
    text-align: center;
}


.header__title--passion {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5em;
}


.navigation {
    height: 100px;
    background-color: #303a52 ;
    display: flex;
    overflow: hidden;
}

.navbar__fixed {
    bottom: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #fc5185;
    display: none;
}

.navbar__fixed--visible {
    display: flex;
}

.navigation__item {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
}

.navigation__item a {
    color: #ffffff;
    text-decoration: none;
}

.navigation__item a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navigation__item:hover {
    background-color: #fc5185;
    cursor: pointer;
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}



.button {
    color: #ffffff;
    border: none;
    background-color: #303a52;
    padding: 20px 30px;
    font-size: 0.8em;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #fc5185;
}

@media screen and (max-width: 800px) {

    .header {
        background: linear-gradient(135deg, rgba(252,81,133,1) 0%, rgba(48,58,82,1) 00%, rgba(252,81,133,1) 100%);
    }

    .video-container__video {
        height:100vh;
        width: auto;
        filter: opacity(.3);
    }
}

@media screen and (max-width: 1200px) {

    .video-container__video {
        height:100vh;
        width: auto;
        filter: opacity(.3);
    }
}